[submodule "fpga_samples"]
	path = fpga_samples
	url = https://github.com/ciniml/fpga_samples.git
[submodule "test/M5GFX"]
	path = test/M5GFX
	url = git@github.com:m5stack/M5GFX.git
[submodule "test/libraries/M5GFX"]
	path = test/libraries/M5GFX
	url = git@github.com:m5stack/M5GFX.git
