// ======== System Clock In ========
IO_LOC "CLK_IN_74M25" 52;
IO_PORT "CLK_IN_74M25" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK_IN_50M" 35;
IO_PORT "CLK_IN_50M" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// ======== Debug LED ========
IO_LOC "HDMI_LED_B" 72;
IO_PORT "HDMI_LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_LED_W" 73;
IO_PORT "HDMI_LED_W" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SYS_LED_B" 70;
IO_PORT "SYS_LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SYS_LED_R" 71;
IO_PORT "SYS_LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// ======== SPI BUS ========
// JTAG as SPI Mode
// IO_LOC "BUS_SPI_MISO" 8;
// IO_PORT "BUS_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
// IO_LOC "BUS_SPI_MOSI" 7;
// IO_PORT "BUS_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
// IO_LOC "BUS_SPI_CS" 5;
// IO_PORT "BUS_SPI_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
// IO_LOC "BUS_SPI_SCK" 6;
// IO_PORT "BUS_SPI_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
// IO_LOC "BUS_BUSY" 40;
// IO_PORT "BUS_BUSY" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Standalone JTAG and SPI Mode
IO_LOC "BUS_SPI_MISO" 38;
IO_PORT "BUS_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "BUS_SPI_MOSI" 37;
IO_PORT "BUS_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "BUS_SPI_CS" 39;
IO_PORT "BUS_SPI_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "BUS_SPI_SCK" 11;
IO_PORT "BUS_SPI_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "BUS_BUSY" 40;
IO_PORT "BUS_BUSY" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// ======== RGB Out ========
IO_LOC "RGB_IDCK" 51;
IO_PORT "RGB_IDCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_VSYNC" 82;
IO_PORT "RGB_VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_HSYNC" 81;
IO_PORT "RGB_HSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_DE" 80;
IO_PORT "RGB_DE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "RGB_OUT[23]" 26;
IO_PORT "RGB_OUT[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[22]" 28;
IO_PORT "RGB_OUT[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[21]" 30;
IO_PORT "RGB_OUT[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[20]" 32;
IO_PORT "RGB_OUT[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[19]" 34;
IO_PORT "RGB_OUT[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[18]" 25;
IO_PORT "RGB_OUT[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[17]" 27;
IO_PORT "RGB_OUT[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[16]" 29;
IO_PORT "RGB_OUT[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[15]" 31;
IO_PORT "RGB_OUT[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[14]" 33;
IO_PORT "RGB_OUT[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[13]" 36;
IO_PORT "RGB_OUT[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[12]" 20;
IO_PORT "RGB_OUT[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[11]" 19;
IO_PORT "RGB_OUT[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[10]" 18;
IO_PORT "RGB_OUT[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[9]" 17;
IO_PORT "RGB_OUT[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[8]" 16;
IO_PORT "RGB_OUT[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[7]" 15;
IO_PORT "RGB_OUT[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[6]" 14;
IO_PORT "RGB_OUT[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[5]" 13;
IO_PORT "RGB_OUT[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[4]" 3;
IO_PORT "RGB_OUT[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[3]" 86;
IO_PORT "RGB_OUT[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[2]" 85;
IO_PORT "RGB_OUT[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[1]" 84;
IO_PORT "RGB_OUT[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RGB_OUT[0]" 83;
IO_PORT "RGB_OUT[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
